<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-35688660-1']);
          _gaq.push(['_setDomainName', 'mitpakdim.co.il']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>
        <script type="text/javascript" src="lib/underscore-1.4.2.js"></script>
        <script type="text/javascript" src="lib/jquery-1.8.2.js"></script>
        <script type="text/javascript" src="lib/jquery-ui-1.9.0/js/jquery-ui-1.9.0.custom.js"></script>
        <script type="text/javascript" src="lib/backbone-0.9.2.js"></script>
        <script type="text/javascript" src="data/agenda.jsonp" charset="UTF-8"></script>
        <script type="text/javascript" src="mitpakdim.js"></script>
        <link href='mitpakdim.css' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="lib/jquery-ui-1.9.0/css/smoothness/jquery-ui-1.9.0.custom.css">
    </head>
    <body>
        <div class="page_top_bar">
            <div class="content">
                <div class="icons"></div>
                <div class="text"></div>
            </div>
        </div>
        <div id="app_root">
            <div class="agendas_section party_page">
                <div class="agendas_container">
                    <div class="instructions"></div>
                    <div class="weight_bank">
                    </div>
                    <div class="agendas"><h2>&#x5D1;&#x5D8;&#x5E2;&#x5D9;&#x5E0;&#x5D4;&#x2E;&#x2E;&#x2E;</h2></div>
                </div>
            </div>
            <br/>
            <input type="button" value="&#1492;&#1510;&#1490; &#1502;&#1513;&#1511;&#1493;&#1500;&#1493;&#1514;" id="show_weights" />
        </div>
        <script type="text/template" id='agenda_template'>
            <a href="http://oknesset.org<%= absolute_url %>" target="_blank" class="name"><%= name %></a>
            <div class="current_value"></div>
            <div class="slider" id="agenda_<%= id %>"></div> 
        </script>
        <script type="text/template" id='bank_template'>
            &#x5DC;&#x5E8;&#x5E9;&#x5D5;&#x5EA;&#x5DA; &#x5E2;&#x5D5;&#x5D3; <%= points_left %> &#x5E0;&#x5E7;&#x5D5;&#x5D3;&#x5D5;&#x5EA;
        </script>
    </body>
</html>
